<%- include('../partials/header.ejs'); %>

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-0">
          <div class="container-small">
            <div class="scrollbar">
              <div class="d-flex justify-content-between"><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2 bg-warning-100 light"><span class="fs-4 uil uil-star text-warning"></span></div>
                  <p class="nav-label">Deals</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-shopping-bag"></span></div>
                  <p class="nav-label">Grocery</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-watch-alt"></span></div>
                  <p class="nav-label">Fashion</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-mobile-android"></span></div>
                  <p class="nav-label">Mobile</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-monitor"></span></div>
                  <p class="nav-label">Electronics</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-estate"></span></div>
                  <p class="nav-label">Home</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-lamp"></span></div>
                  <p class="nav-label">Dining</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-gift"></span></div>
                  <p class="nav-label">Gifts</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-wrench"></span></div>
                  <p class="nav-label">Tools</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-plane-departure"></span></div>
                  
                  <p class="nav-label">Travel</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-palette"></span></div>
                  <p class="nav-label">Others</p>
                </a></div>
            </div>
          </div><!-- end of .container-->
        </section><!-- <section> close ============================-->
        <!-- ============================================-->



<br>


<% if(banner) {%>     


<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
      <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="container">
         
        <div class="col-12">
          <div class="whooping-banner w-100 rounded-3 overflow-hidden">
            <div class="bg-holder z-index--1 " style="background-image:url(/uploads/<%=banner.image[0]%>);background-position: bottom right;"></div>
            
            <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div> 
            <div class="banner-text light">
              <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
              <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
            </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
          </div>
        </div>

      </div>
  </div>


  <% for(i=1;i<=banner.image.length;i++){%>

     <div class="carousel-item">
          <div class="container">
             
            <div class="col-12">
              <div class="whooping-banner w-100 rounded-3 overflow-hidden">
                 <div class="bg-holder z-index--1 product-bg" style="background-image:url(/uploads/<%=banner.image[i]%>);background-position: bottom right;"></div>
                
                 <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div> 

                
                <div class="banner-text light">
                  <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
                  <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
                </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
              </div>
            </div>

          </div>
      </div>

    
      <div class="carousel-item">
          <div class="container">
             
            <div class="col-12">
              <div class="whooping-banner w-100 rounded-3 overflow-hidden">
                <div class="bg-holder z-index--1 product-bg" style="background-image:url(/uploads/<%=banner.image[i+1]%>);background-position: bottom right;"></div>
                
                <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div> 
                <div class="banner-text light">
                  <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
                  <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
                </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
              </div>
            </div>

          </div>
      </div>


  </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
      <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
      <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->


<% } }
else { %>


<div class="container px-xl-0 px-xxl-3">
  <div class="row g-3 mb-9">
    <div class="col-12">
      <div class="whooping-banner w-100 rounded-3 overflow-hidden">
        <div class="bg-holder z-index--1 product-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_product.png);background-position: bottom right;"></div>
        <!--/.bg-holder-->
        <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div>
        <!--/.bg-holder-->
        <div class="banner-text light">
          <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
          <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
        </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
      </div>
    </div>
    <div class="col-12 col-xl-6">
      <div class="gift-items-banner w-100 rounded-3 overflow-hidden">
        <div class="bg-holder z-index--1 banner-bg" style="background-image:url(../../../assets/img/e-commerce/gift-items-banner-bg.png);"></div>
        <!--/.bg-holder-->
        <div class="banner-text text-md-center light">
          <h2 class="text-white fw-bolder fs-xl-4">Get <span class="gradient-text">10% Off </span><br class="d-md-none"> on gift items</h2><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-6">
      <div class="best-in-market-banner d-flex h-100 px-4 px-sm-7 py-5 px-md-11 rounded-3 overflow-hidden">
        <div class="bg-holder z-index--1 banner-bg" style="background-image:url(../../../assets/img/e-commerce/best-in-market-bg.png);"></div>
        <!--/.bg-holder-->
        <div class="row align-items-center w-sm-100">
          <div class="col-8">
            <div class="banner-text light">
              <h2 class="text-white fw-bolder fs-sm-4 mb-5">MI 11 Pro<br><span class="fs-1 fs-sm-2"> Best in the market</span></h2><a class="btn btn-lg btn-warning rounded-pill banner-button" href="#!">Buy Now</a>
            </div>
          </div>
          <div class="col-4"><img class="w-100 w-sm-75" src="../../../assets/img/e-commerce/5.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</div>


<%}%>


<br>








 <!-- Start Categories of The Month -->
 <section class="py-0 px-xl-3">
          
  <div class="container px-xl-0 px-xxl-3">
  
  
   
  <div class="mb-6">
    <div class="d-flex flex-between-center mb-3">
      <h3>Categories of the Month</h3>
      <a class="fw-bold d-none d-md-block" href="#!">Explore more<span class="fas fa-chevron-right fs--1 ms-1"></span></a>
    </div>

    <div class="swiper-theme-container products-slider">
      <div class="swiper swiper-container theme-slider" data-swiper='{"slidesPerView":1,"spaceBetween":16,"breakpoints":{"450":{"slidesPerView":2,"spaceBetween":16},"576":{"slidesPerView":3,"spaceBetween":20},"768":{"slidesPerView":4,"spaceBetween":20},"992":{"slidesPerView":5,"spaceBetween":20},"1200":{"slidesPerView":6,"spaceBetween":16}}}'>
        <div class="swiper-wrapper">


          <div class="swiper-slide">

            <div class="position-relative text-decoration-none product-card h-100">
              <div class="d-flex flex-column justify-content-between h-100">
                
                  <a href="#"><img src="../../../assets/img/products/1.png" class=" img-fluid "></a>
                  <h5 class="text-center mt-3 mb-3">Watches</h5>
                  <p class="text-center"><a class="btn btn-primary">Go Shop</a></p>
              
              </div>
            </div>

          </div>




          <div class="swiper-slide">

            <div class="position-relative text-decoration-none product-card h-100">
              <div class="d-flex flex-column justify-content-between h-100">
                
                  <a href="#"><img src="../../../assets/img/products/1.png" class=" img-fluid "></a>
                  <h5 class="text-center mt-3 mb-3">Watches</h5>
                  <p class="text-center"><a class="btn btn-primary">Go Shop</a></p>
              
              </div>
            </div>

          </div>


       <div class="swiper-slide">

            <div class="position-relative text-decoration-none product-card h-100">
              <div class="d-flex flex-column justify-content-between h-100">
                
                  <a href="#"><img src="../../../assets/img/products/1.png" class=" img-fluid "></a>
                  <h5 class="text-center mt-3 mb-3">Watches</h5>
                  <p class="text-center"><a class="btn btn-primary">Go Shop</a></p>
              
              </div>
            </div>

          </div>



          <div class="swiper-slide">

            <div class="position-relative text-decoration-none product-card h-100">
              <div class="d-flex flex-column justify-content-between h-100">
                
                  <a href="#"><img src="../../../assets/img/products/1.png" class=" img-fluid "></a>
                  <h5 class="text-center mt-3 mb-3">Watches</h5>
                  <p class="text-center"><a class="btn btn-primary">Go Shop</a></p>
              
              </div>
            </div>

          </div>






          <div class="col-12 col-lg-5 col-xl-4">
            <div class="card">
              <div class="card-body">
                <h5 class="text-black">Ad</h5>
                <div class="w-75">
                  <p class="text-700 fs--1 fw-bold line-clamp-1">Shop now, Get rewards</p>
                </div>
                
            </p><a href="/product" data-gallery="gallery-description"><img class="img-fluid mb-5 rounded-3" src="../../../assets/img/e-commerce/6.png" alt=""></a>

              </div>
            </div>
          </div> 





        </div>
      </div>
      <div class="swiper-nav">
        <div class="swiper-button-next"><span class="fas fa-chevron-right nav-icon"></span></div>
        <div class="swiper-button-prev"><span class="fas fa-chevron-left nav-icon"></span></div>
      </div>
    </div><a class="fw-bold d-md-none" href="#!">Explore more<span class="fas fa-chevron-right fs--1 ms-1"></span></a>
  </div>



  




  
  
   
  <div class="mb-6">
    <div class="d-flex flex-between-center mb-3">
      <h3>Top Products</h3>
      <a class="fw-bold d-none d-md-block" href="#!">Explore more<span class="fas fa-chevron-right fs--1 ms-1"></span></a>
    </div>

    <div class="swiper-theme-container products-slider">
      <div class="swiper swiper-container theme-slider" data-swiper='{"slidesPerView":1,"spaceBetween":16,"breakpoints":{"450":{"slidesPerView":2,"spaceBetween":16},"576":{"slidesPerView":3,"spaceBetween":20},"768":{"slidesPerView":4,"spaceBetween":20},"992":{"slidesPerView":5,"spaceBetween":20},"1200":{"slidesPerView":6,"spaceBetween":16}}}'>
        <div class="swiper-wrapper">








          <% for(i=0;i<product.length;i++){ %>
                  

            <div class="swiper-slide">
              <div class="position-relative text-decoration-none product-card h-100">
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="/uploads/<%=product[i].image[0]%>" alt="" /></div><a class="stretched-link" href="/view-details?id=<%=product[i]._id%>">
                      <h6 class="mb-2 lh-sm line-clamp-3 product-name"><%=product[i].name%></h6>
                    </a>
                    <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="text-500 fw-semi-bold ms-1">(59 people rated)</span></p>
                  </div>
                  <div>
                    <h3 class="text-1100">Rs <%=product[i].price%></h3>
                    <p class="text-700 fw-semi-bold fs--1 lh-1 mb-0">2 colors</p>
                  </div>
                </div>
              </div>
            </div>

            <%}%>







        </div>
      </div>
      <div class="swiper-nav">
        <div class="swiper-button-next"><span class="fas fa-chevron-right nav-icon"></span></div>
        <div class="swiper-button-prev"><span class="fas fa-chevron-left nav-icon"></span></div>
      </div>
    </div><a class="fw-bold d-md-none" href="#!">Explore more<span class="fas fa-chevron-right fs--1 ms-1"></span></a>
  </div>


  </div>
 </section>
































      




          
          
        <div class="row flex-center mb-15 mt-11 gy-6">
          <div class="col-auto"><img class="d-dark-none" src="../../../assets/img/spot-illustrations/37.png" alt="" width="305" /><img class="d-light-none" src="../../../assets/img/spot-illustrations/37_2.png" alt="" width="305" /></div>
          <div class="col-auto">
            <div class="text-center text-lg-start">
              <h3 class="text-1000 mb-2"><span class="fw-semi-bold">Enjoy our </span>exclusive benefits and ultimate <br class="d-md-none" />customer experience.</h3>
              <h1 class="display-3 fw-semi-bold mb-4">Welcome to our <span class="text-primary fw-bolder">Community </span>😊!</h1><a class="btn btn-lg btn-primary px-7" href="/product">Explore all<span class="fas fa-chevron-right ms-2 fs--1"></span></a>
            </div>
          </div>
        </div>





















      
     




      <%- include('../partials/footer.ejs'); %>