<%- include('../partials/header.ejs'); %>

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <!-- <section class="py-0">
          <div class="container-small">
            <div class="scrollbar">
              <div class="d-flex justify-content-between"><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2 bg-warning-100 light"><span class="fs-4 uil uil-star text-warning"></span></div>
                  <p class="nav-label">Deals</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-shopping-bag"></span></div>
                  <p class="nav-label">Grocery</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-watch-alt"></span></div>
                  <p class="nav-label">Fashion</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-mobile-android"></span></div>
                  <p class="nav-label">Mobile</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-monitor"></span></div>
                  <p class="nav-label">Electronics</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-estate"></span></div>
                  <p class="nav-label">Home</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-lamp"></span></div>
                  <p class="nav-label">Dining</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-gift"></span></div>
                  <p class="nav-label">Gifts</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-wrench"></span></div>
                  <p class="nav-label">Tools</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-plane-departure"></span></div>
                  
                  <p class="nav-label">Travel</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-palette"></span></div>
                  <p class="nav-label">Others</p>
                </a></div>
            </div>
          </div>
        </section><section> close ============================-->
      



<br>


<% if(banner) {%>     


<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
      <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="container">
         
        <div class="col-12">
          <div class="whooping-banner w-100 rounded-3 overflow-hidden">
            <div class="bg-holder z-index--1 " style="background-image:url(/uploads/<%=banner.image[0]%>);background-position: bottom right;"></div>
            
            <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div> 
            <div class="banner-text light">
              <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
              <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
            </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
          </div>
        </div>

      </div>
  </div>


  <% for(i=1;i<=banner.image.length;i++){%>

     <div class="carousel-item">
          <div class="container">
             
            <div class="col-12">
              <div class="whooping-banner w-100 rounded-3 overflow-hidden">
                 <div class="bg-holder z-index--1 product-bg" style="background-image:url(/uploads/<%=banner.image[i]%>);background-position: bottom right;"></div>
                
                 <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div> 

                
                <div class="banner-text light">
                  <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
                  <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
                </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
              </div>
            </div>

          </div>
      </div>

    
      <div class="carousel-item">
          <div class="container">
             
            <div class="col-12">
              <div class="whooping-banner w-100 rounded-3 overflow-hidden">
                <div class="bg-holder z-index--1 product-bg" style="background-image:url(/uploads/<%=banner.image[i+1]%>);background-position: bottom right;"></div>
                
                <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div> 
                <div class="banner-text light">
                  <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
                  <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
                </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
              </div>
            </div>

          </div>
      </div>


  </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
      <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
      <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->


<% } }
else { %>


<div class="container px-xl-0 px-xxl-3">
  <div class="row g-3 mb-9">
    <div class="col-12">
      <div class="whooping-banner w-100 rounded-3 overflow-hidden">
        <div class="bg-holder z-index--1 product-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_product.png);background-position: bottom right;"></div>
        <!--/.bg-holder-->
        <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div>
        <!--/.bg-holder-->
        <div class="banner-text light">
          <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
          <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
        </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
      </div>
    </div>
    <div class="col-12 col-xl-6">
      <div class="gift-items-banner w-100 rounded-3 overflow-hidden">
        <div class="bg-holder z-index--1 banner-bg" style="background-image:url(../../../assets/img/e-commerce/gift-items-banner-bg.png);"></div>
        <!--/.bg-holder-->
        <div class="banner-text text-md-center light">
          <h2 class="text-white fw-bolder fs-xl-4">Get <span class="gradient-text">10% Off </span><br class="d-md-none"> on gift items</h2><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-6">
      <div class="best-in-market-banner d-flex h-100 px-4 px-sm-7 py-5 px-md-11 rounded-3 overflow-hidden">
        <div class="bg-holder z-index--1 banner-bg" style="background-image:url(../../../assets/img/e-commerce/best-in-market-bg.png);"></div>
        <!--/.bg-holder-->
        <div class="row align-items-center w-sm-100">
          <div class="col-8">
            <div class="banner-text light">
              <h2 class="text-white fw-bolder fs-sm-4 mb-5">MI 11 Pro<br><span class="fs-1 fs-sm-2"> Best in the market</span></h2><a class="btn btn-lg btn-warning rounded-pill banner-button" href="#!">Buy Now</a>
            </div>
          </div>
          <div class="col-4"><img class="w-100 w-sm-75" src="../../../assets/img/e-commerce/5.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</div>


<%}%>


<br>



<section >

  <div class="text-center mb-11 position-relative">
    <h5 class="text-info mb-3">Team</h5>
    <h2 class="mb-2">Our small team behind <br class="d-sm-none" />our success</h2>
  </div>
  <div class="container-small position-relative">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="row gx-3 gy-6 justify-content-center">
          
          <div class="col-sm-6 col-md-4">
            <div class="text-center"> <img class="w-70 w-sm-100 rounded-4 mb-3" src="../../assets/img/team/71.webp" alt="" />
              <h4>Casey Andrews</h4>
              <h5 class="fw-semi-bold">IT Specialist</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="text-center"> <img class="w-70 w-sm-100 rounded-4 mb-3" src="../../assets/img/team/72.webp" alt="" />
              <h4>Poppy Russell</h4>
              <h5 class="fw-semi-bold">Frontend Dev</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="text-center"> <img class="w-70 w-sm-100 rounded-4 mb-3" src="../../assets/img/team/73.webp" alt="" />
              <h4>Emma Knowles</h4>
              <h5 class="fw-semi-bold">Backend Dev</h5>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
  
</section>



















 <!-- <section> begin ============================-->
  <section class="bg-white" id="blog">
    <div class="container-small px-lg-7 px-xxl-3">
      <div class="row">
        <div class="col-12 mb-4 text-center text-sm-start">
          <h4 class="text-primary fw-bolder mb-3">Blog</h4>
          <h2>Latest articles</h2>
        </div>
        <div class="col-lg-6 text-center text-sm-start">
          <p>See the latest articles we published with this dashboard. Your customers will be happy to find all the latest posts in one place. This menu efficiently shows all related topics from search filters and provides the customers with what</p>
        </div>
        <div class="col-lg-6 text-center text-sm-start">
          <p>they need. Also you can just educate your customers about everything they need to know and follow to avail a service with you. This menu is the one to show them that.</p>
        </div>
      </div>
      <div class="row h-100 g-3 justify-content-center">


      

        
    <% for(i=0;i<product.length-1;i++){ %>
        <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
          <div class="card text-white h-100"><img class="rounded-top h-100 fit-cover" src="/uploads/<%=product[i].image[0]%>" alt="..." />
            <div class="card-body rounded-top">
              <div class="d-flex align-items-cente mb-3">
                <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-500 me-1"></span><span class="text-900 fs--2 lh-1">142</span></a></div>
                <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-500 me-1"></span><span class="text-900 fs--2 lh-1">123</span></a></div>
                <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-500 me-1"></span><span class="text-900 fs--2 lh-1">22</span></a></div>
              </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Rs <%=product[i].price%></span>
              <h4 class="fw-bold mb-3 lh-sm line-clamp-2"><%=product[i].name%></h4><a class="btn-link px-0 d-flex align-items-center fs--1 fw-bold" href="/view-details?id=<%=product[i]._id%>" role="button">View Details<span class="fa-solid fa-angle-right ms-2"></span></a>
            </div>
          </div>
        </div>

        <%}%>

      </div>
      <div class="text-center mt-6"><a class="btn btn-outline-primary" href="/loadShop">View All<span class="fa-solid fa-angle-right ms-2"></span></a></div>
    </div><!-- end of .container-->
  </section><!-- <section> close ============================-->
  <!-- ============================================-->








































      




 <% if (user) { %>
          
        <div class="row flex-center mb-15 mt-11 gy-6">
          <div class="col-auto"><img class="d-dark-none" src="../../../assets/img/spot-illustrations/37.png" alt="" width="305" /><img class="d-light-none" src="../../../assets/img/spot-illustrations/37_2.png" alt="" width="305" /></div>
          <div class="col-auto">
            <div class="text-center text-lg-start">
              <h3 class="text-1000 mb-2"><span class="fw-semi-bold">Enjoy our </span>exclusive benefits and ultimate <br class="d-md-none" />customer experience.</h3>
              <h1 class="display-3 fw-semi-bold mb-4">Welcome to our <span class="text-primary fw-bolder">Community </span>😊!</h1><a class="btn btn-lg btn-primary px-7" href="/product">Explore all<span class="fas fa-chevron-right ms-2 fs--1"></span></a>
            </div>
          </div>
        </div>


        <% } else { %>

        <div class="row flex-center mb-15 mt-11 gy-6">
          <div class="col-auto"><img class="d-dark-none" src="../../../assets/img/spot-illustrations/light_30.png" alt="" width="305" /><img class="d-light-none" src="../../../assets/img/spot-illustrations/dark_30.png" alt="" width="305" /></div>
          <div class="col-auto">
            <div class="text-center text-lg-start">
              <h3 class="text-1000 mb-2"><span class="fw-semi-bold">Want to have the </span>ultimate <br class="d-md-none" />customer experience?</h3>
              <h1 class="display-3 fw-semi-bold mb-4">Become a <span class="text-primary fw-bolder">member </span>today!</h1><a class="btn btn-lg btn-primary px-7" href="/register">Sign up<span class="fas fa-chevron-right ms-2 fs--1"></span></a>
            </div>
          </div>
        </div>


        <% }%>







      
     




      <%- include('../partials/footer.ejs'); %>