<%- include ('../partials/admin-header.ejs') %>









<div class="content">
    <div class="pb-5">
      <div class="row g-4">
        <div class="col-12 col-xxl-6">
          <div class="mb-8">
            <h2 class="mb-2">Ecommerce Dashboard</h2>
            <h5 class="text-700 fw-semi-bold">Here’s what’s going on at your business right now</h5>
          </div>
          <div class="row align-items-center g-4">
            <div class="col-12 col-md-auto">
              <div class="d-flex align-items-center"><span class="fa-stack" style="min-height: 46px;min-width: 46px;"><span class="fa-solid fa-square fa-stack-2x text-success-300" data-fa-transform="down-4 rotate--10 left-4"></span><span class="fa-solid fa-circle fa-stack-2x stack-circle text-success-100" data-fa-transform="up-4 right-3 grow-2"></span><span class="fa-stack-1x fa-solid fa-star text-success " data-fa-transform="shrink-2 up-8 right-6"></span></span>
                <div class="ms-3">
                  <h4 class="mb-0">Sales</h4>
                  <p class="text-800 fs--1 mb-0"> <%=sales%></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-auto">
              <div class="d-flex align-items-center"><span class="fa-stack" style="min-height: 46px;min-width: 46px;"><span class="fa-solid fa-square fa-stack-2x text-warning-300" data-fa-transform="down-4 rotate--10 left-4"></span><span class="fa-solid fa-circle fa-stack-2x stack-circle text-warning-100" data-fa-transform="up-4 right-3 grow-2"></span><span class="fa-stack-1x fa-solid fa-pause text-warning " data-fa-transform="shrink-2 up-8 right-6"></span></span>
                <div class="ms-3">
                  <h4 class="mb-0">Total Revenue</h4>
                  <p class="text-800 fs--1 mb-0"><%=totalRevenue%></p>
                </div>
              </div>
            </div>
       
          </div>




          
          <hr>
          <!-- Sales Chart Start -->
          <div>
              <div  class="echart-line-chart-example" >
                  <canvas id="myChart" class="mt-5" style="margin-left: 19%; width:100%;max-width:700px"></canvas>
              </div>
              <div class="echart-line-chart-example">
          
                  <canvas id="myChart2" class="mt-5" style="margin-left: 19%;  width:100%;max-width:700px"></canvas>
              </div>
          
              <br><br><br><br><br><br><br><br>
          
          </div>
          



        </div>
      </div>
    </div>
</div>









<!-- Sale & Revenue End -->



<input type="hidden" id="pds" value="<%=pds%>">
<input type="hidden" id="qty" value="<%=qty%>">
<input type="hidden" id="key1" value="<%=key1%>">
<input type="hidden" id="key2" value="<%=key2%>">







<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<script>

    x = document.getElementById("pds").value;
    y = document.getElementById("qty").value;
    xValues = x.split(",")
    yValues = y.split(",")
    key1 = document.getElementById('key1').value
    key2 = document.getElementById('key2').value
    xValue = key1.split(",")
    yValue = key2.split(",")
    console.log(xValue, yValue);

    var barColors = [
        "#b91d47",
        "#2b5797",
        "#e8c3b9",
        "#1e7145",
        "#0000FF",
        "#FFFF00"
    ];

    new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                label: "Stock remains",
                backgroundColor: barColors,
                data: yValues,
            }]
        },
        options: {
            title: {
                display: true,
                text: "Products and Available Stock"
            }
        }
    });

</script>

<script>
    new Chart("myChart2", {
        type: "pie",
        data: {
            labels: xValue,
            datasets: [{
                backgroundColor: barColors,
                data: yValue
            }]
        },
        
        options: {
            title: {
                display: true,
                text: "Productwise Sale"
            }
        }
    });
</script>

  






        <%- include ('../partials/admin-footer.ejs') %>